.project:nth-child(1) {
    background: url('../Images/jump-img.png') no-repeat center center/cover ;
}

.project:nth-child(1):hover {
    background: url('../Images/jump-gif.gif') no-repeat center center/cover ;
}

.project:nth-child(2) {
    background: url('../Images/bell-img.png') no-repeat center center/cover ;
}

.project:nth-child(2):hover {
    background: url('../Images/bell-gif.gif') no-repeat center center/cover ;
}

.project:nth-child(3) {
    background: url('../Images/illu-img.png') no-repeat center center/cover ;
    color: #fff;
}

.project:nth-child(3):hover {
    background: url('../Images/illu-gif.gif') no-repeat center center/cover ;
}

.project:nth-child(4) {
    background: url('../Images/search-img.png') no-repeat center center/cover ;
}

.project:nth-child(4):hover {
    background: url('../Images/search-gif.gif') no-repeat center center/cover ;
}

@media (max-width: 800px) {
    .project:nth-child(1) {
        background: url('../Images/jump-gif.gif') no-repeat center center/cover ;
    }
    .project:nth-child(2) {
        background: url('../Images/bell-gif.gif') no-repeat center center/cover ;
    }
    .project:nth-child(3) {
        background: url('../Images/illu-gif.gif') no-repeat center center/cover ;
    }
    .project:nth-child(4) {
        background: url('../Images/search-gif.gif') no-repeat center center/cover ;
    }
}